In [74]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [75]:
import seaborn as sns

In [76]:
data=pd.read_csv("store.csv")

In [77]:
data[0:10]

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,1012,2010-09-20 11:27:04,2010-09-20 11:43:56,31208,M St & New Jersey Ave SE,31108,4th & M St SW,W00742,Member
1,61,2010-09-20 11:41:22,2010-09-20 11:42:23,31209,1st & N St SE,31209,1st & N St SE,W00032,Member
2,2690,2010-09-20 12:05:37,2010-09-20 12:50:27,31600,5th & K St NW,31100,19th St & Pennsylvania Ave NW,W00993,Member
3,1406,2010-09-20 12:06:05,2010-09-20 12:29:32,31600,5th & K St NW,31602,Park Rd & Holmead Pl NW,W00344,Member
4,1413,2010-09-20 12:10:43,2010-09-20 12:34:17,31100,19th St & Pennsylvania Ave NW,31201,15th & P St NW,W00883,Member
5,982,2010-09-20 12:14:27,2010-09-20 12:30:50,31109,7th & T St NW,31200,Massachusetts Ave & Dupont Circle NW,W00850,Member
6,930,2010-09-20 12:15:26,2010-09-20 12:30:56,31109,7th & T St NW,31105,14th & Harvard St NW,W00804,Member
7,1659,2010-09-20 12:16:36,2010-09-20 12:44:15,31111,10th & U St NW,31208,M St & New Jersey Ave SE,W01084,Member
8,2496,2010-09-20 12:18:38,2010-09-20 13:00:15,31600,5th & K St NW,31601,19th & East Capitol St SE,W00812,Member
9,1487,2010-09-20 12:19:46,2010-09-20 12:44:34,31703,Minnesota Ave Metro/DOES,31603,1st & M St NE,W00803,Member

In [78]:
print(data.columns)

Index(['Duration', 'Start date', 'End date', 'Start station number',
       'Start station', 'End station number', 'End station', 'Bike number',
       'Member type'],
      dtype='object')

In [79]:
data.describe()

            Duration  Start station number  End station number
count  115597.000000         115597.000000       115597.000000
mean     1254.649956          31266.213431        31268.042250
std      2914.317998            187.645048          186.194316
min        60.000000          31000.000000        31000.000000
25%       403.000000          31110.000000        31111.000000
50%       665.000000          31213.000000        31214.000000
75%      1120.000000          31301.000000        31238.000000
max     85644.000000          31805.000000        31805.000000

In [80]:
print(data.tail())

        Duration           Start date             End date  \
115592      2179  2010-12-31 23:20:32  2010-12-31 23:56:52
115593       953  2010-12-31 23:21:57  2010-12-31 23:37:50
115594       737  2010-12-31 23:27:28  2010-12-31 23:39:45
115595       514  2010-12-31 23:37:38  2010-12-31 23:46:12
115596     51962  2010-12-31 23:49:05  2011-01-01 14:15:08

        Start station number             Start station  End station number  \
115592                 31110  20th St & Florida Ave NW               31623
115593                 31106  Calvert & Biltmore St NW               31401
115594                 31602   Park Rd & Holmead Pl NW               31401
115595                 31111            10th & U St NW               31202
115596                 31111            10th & U St NW               31111

                            End station Bike number Member type
115592  Columbus Circle / Union Station      W00859      Casual
115593           14th St & Spring Rd NW      W00914      Member
115594           14th St & Spring Rd NW      W00973      Member
115595                   14th & R St NW      W01119      Member
115596                   10th & U St NW      W00771      Casual

In [81]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115597 entries, 0 to 115596
Data columns (total 9 columns):
Duration                115597 non-null int64
Start date              115597 non-null object
End date                115597 non-null object
Start station number    115597 non-null int64
Start station           115597 non-null object
End station number      115597 non-null int64
End station             115597 non-null object
Bike number             115597 non-null object
Member type             115597 non-null object
dtypes: int64(3), object(6)
memory usage: 7.9+ MB

In [82]:
df=data.drop(['Start date', 'End date', 'Start station', 'End station', 'Bike number'],axis=1)

In [83]:
df.head()

   Duration  Start station number  End station number Member type
0      1012                 31208               31108      Member
1        61                 31209               31209      Member
2      2690                 31600               31100      Member
3      1406                 31600               31602      Member
4      1413                 31100               31201      Member

In [84]:
le=LabelEncoder()
le.fit(df['Member type'])
df['Member type']=le.transform(df['Member type'])

In [85]:
df.head()

   Duration  Start station number  End station number  Member type
0      1012                 31208               31108            1
1        61                 31209               31209            1
2      2690                 31600               31100            1
3      1406                 31600               31602            1
4      1413                 31100               31201            1

In [86]:
df.tail()

        Duration  Start station number  End station number  Member type
115592      2179                 31110               31623            0
115593       953                 31106               31401            1
115594       737                 31602               31401            1
115595       514                 31111               31202            1
115596     51962                 31111               31111            0

In [87]:
train_data,test_data=train_test_split(df,test_size=0.2,random_state=10)

In [88]:
train_label=train_data["Member type"].copy()
train_data=train_data.drop("Member type",axis=1)
test_label=test_data["Member type"].copy()
test_data=test_data.drop("Member type",axis=1)

In [89]:
classifier=GaussianNB()

In [90]:
classifier.fit(train_data,train_label)

GaussianNB(priors=None, var_smoothing=1e-09)

In [91]:
predict=classifier.predict(test_data)
predict

array([1, 1, 1, ..., 0, 1, 1])

In [92]:
accuracy=accuracy_score(test_label,predict)

In [93]:
accuracy

0.837067474048443